@media only screen and (max-width: 1012px) {
  body .wrapper .content-wrapper .grid-container-v1 .grid-item:last-child {
    grid-column: 1/-1; } }

@media only screen and (max-width: 767.9px) {
  body .wrapper .content-wrapper .grid-container-v1 {
    grid-template-columns: repeat(1, 1fr); } }

@media only screen and (max-width: 767.9px) {
  body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 {
    grid-template-rows: repeat(15, 400px); }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(1) {
      grid-column: 1/-1;
      grid-row: 1; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(2) {
      grid-column: 1/-1;
      grid-row: 2; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(3) {
      grid-column: 1/-1;
      grid-row: 3; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(4) {
      grid-column: 1/-1;
      grid-row: 4; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(5) {
      grid-column: 1/-1;
      grid-row: 5; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(6) {
      grid-column: 1/-1;
      grid-row: 6; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(7) {
      grid-column: 1/-1;
      grid-row: 7; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(8) {
      grid-column: 1/-1;
      grid-row: 8; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(9) {
      grid-column: 1/-1;
      grid-row: 9; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(10) {
      grid-column: 1/-1;
      grid-row: 10; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(11) {
      grid-column: 1/-1;
      grid-row: 11; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(12) {
      grid-column: 1/-1;
      grid-row: 12; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(13) {
      grid-column: 1/-1;
      grid-row: 13; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(14) {
      grid-column: 1/-1;
      grid-row: 14; }
    body .wrapper .content-wrapper .tab-grid-v2 .grid-container-v2 .grid-item:nth-child(15) {
      grid-column: 1/-1;
      grid-row: 15; } }
